schemas/DEVCO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
####################################################################################
#  XSD name : DEVCO
#  RELEASE : "R2.0.9.S03.E01"                                                      
#  Intermediate release number 007-20181030                              
#  Last update : 15/05/2018
#  Form : DEVCO  
####################################################################################
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n2016="http://publications.europa.eu/resource/schema/ted/2016/nuts" elementFormDefault="qualified" attributeFormDefault="unqualified" version="R2.0.9.S03.E01">
	<xs:include schemaLocation="common_2014.xsd"/>
	<xs:import namespace="http://publications.europa.eu/resource/schema/ted/2016/nuts" schemaLocation="nuts_codes_2016.xsd"/>
	<xs:complexType name="modifications_devco">
		<xs:annotation>
			<xs:documentation>Section VII: MODIFICATIONS TO THE CONTRACT / CONCESSION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DESCRIPTION_PROCUREMENT">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="CPV_MAIN"/>
						<xs:element ref="CPV_ADDITIONAL" minOccurs="0" maxOccurs="100"/>
						<xs:element ref="n2016:NUTS" maxOccurs="20"/>
						<xs:element ref="MAIN_SITE" minOccurs="0"/>
						<xs:element ref="SHORT_DESCR"/>
						<xs:group ref="time_frame"/>
						<xs:element ref="JUSTIFICATION" minOccurs="0"/>
						<xs:element name="VALUES">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="VAL_TOTAL"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CONTRACTORS">
							<xs:complexType>
								<xs:choice>
									<xs:sequence>
										<xs:element ref="AWARDED_TO_GROUP"/>
										<xs:group ref="contractor_sme_opt2" minOccurs="2" maxOccurs="100"/>
									</xs:sequence>
									<xs:sequence>
										<xs:element ref="NO_AWARDED_TO_GROUP"/>
										<xs:group ref="contractor_sme_opt2"/>
									</xs:sequence>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="INFO_MODIFICATIONS">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="SHORT_DESCR" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="ADDITIONAL_NEED"/>
							<xs:element ref="UNFORESEEN_CIRCUMSTANCE"/>
						</xs:choice>
						<xs:element name="VALUES">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="VAL_TOTAL_BEFORE"/>
									<xs:element ref="VAL_TOTAL_AFTER"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ci_devco">
		<xs:annotation>
			<xs:documentation>Section VI: COMPLEMENTARY INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="complement_info">
				<xs:sequence>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="RECURRENT_PROCUREMENT"/>
							<xs:element ref="ESTIMATED_TIMING" minOccurs="0"/>
						</xs:sequence>
						<xs:element ref="NO_RECURRENT_PROCUREMENT"/>
					</xs:choice>
					<xs:element ref="EORDERING" minOccurs="0"/>
					<xs:element ref="EINVOICING" minOccurs="0"/>
					<xs:element ref="EPAYMENT" minOccurs="0"/>
					<xs:element ref="INFO_ADD" minOccurs="0"/>
					<xs:element ref="ADDRESS_REVIEW_BODY" minOccurs="0"/>
					<xs:element ref="ADDRESS_MEDIATION_BODY" minOccurs="0"/>
					<xs:element ref="REVIEW_PROCEDURE" minOccurs="0"/>
					<xs:element ref="ADDRESS_REVIEW_INFO" minOccurs="0"/>
					<xs:element ref="DATE_DISPATCH_NOTICE"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="award_contract_devco">
		<xs:annotation>
			<xs:documentation>Section V: AWARD OF CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="contract_number"/>
			<xs:element ref="TITLE" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="NO_AWARDED_CONTRACT"/>
				<xs:element name="AWARDED_CONTRACT">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DATE_CONCLUSION_CONTRACT"/>
							<xs:element name="TENDERS" minOccurs="0">
								<xs:complexType>
									<xs:group ref="nb_tenders"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CONTRACTORS">
								<xs:complexType>
									<xs:choice>
										<xs:sequence>
											<xs:element ref="AWARDED_TO_GROUP"/>
											<xs:group ref="contractor_sme_opt2" minOccurs="2" maxOccurs="100"/>
										</xs:sequence>
										<xs:sequence>
											<xs:element ref="NO_AWARDED_TO_GROUP"/>
											<xs:group ref="contractor_sme_opt2"/>
										</xs:sequence>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="VALUES">
								<xs:complexType>
									<xs:group ref="award_contract_value"/>
								</xs:complexType>
							</xs:element>
							<xs:sequence minOccurs="0">
								<xs:element ref="LIKELY_SUBCONTRACTED"/>
								<xs:group ref="subcontracting"/>
							</xs:sequence>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="ITEM" type="nb_contract" use="required"/>
	</xs:complexType>
	<xs:complexType name="procedure_devco">
		<xs:annotation>
			<xs:documentation>Section IV: PROCEDURE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="PT_OPEN"/>
					<xs:element ref="ACCELERATED_PROC" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="PT_RESTRICTED"/>
					<xs:element ref="ACCELERATED_PROC" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="PT_COMPETITIVE_NEGOTIATION"/>
					<xs:element ref="ACCELERATED_PROC" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="PT_COMPETITIVE_DIALOGUE"/>
				<xs:element ref="PT_INNOVATION_PARTNERSHIP"/>
				<xs:element name="PT_AWARD_CONTRACT_WITHOUT_CALL" type="annex_d1"/>
			</xs:choice>
			<xs:element name="FRAMEWORK" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:choice>
							<xs:sequence>
								<xs:element ref="SEVERAL_OPERATORS"/>
								<xs:element ref="NB_PARTICIPANTS" minOccurs="0"/>
							</xs:sequence>
							<xs:element ref="SINGLE_OPERATOR"/>
						</xs:choice>
						<xs:element ref="JUSTIFICATION" minOccurs="0">
							<xs:annotation>
								<xs:documentation>for any duration exceeding a certain number of years</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="dps_purchasers" minOccurs="0"/>
			<xs:element ref="REDUCTION_RECOURSE" minOccurs="0"/>
			<xs:element ref="RIGHT_CONTRACT_INITIAL_TENDERS" minOccurs="0"/>
			<xs:group ref="eauction" minOccurs="0"/>
			<xs:group ref="gpa" minOccurs="0"/>
			<xs:element ref="NOTICE_NUMBER_OJ" minOccurs="0"/>
			<xs:group ref="receipt_tenders" minOccurs="0"/>
			<xs:element ref="DATE_DISPATCH_INVITATIONS" minOccurs="0"/>
			<xs:element ref="LANGUAGES" minOccurs="0"/>
			<xs:element ref="DATE_AWARD_SCHEDULED" minOccurs="0"/>
			<xs:group ref="time_frame_tender_valid" minOccurs="0"/>
			<xs:element ref="OPENING_CONDITION" minOccurs="0"/>
			<xs:element ref="TERMINATION_DPS" minOccurs="0"/>
			<xs:element ref="TERMINATION_PIN" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="lefti_devco">
		<xs:annotation>
			<xs:documentation>Section III: LEFTI</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="lefti">
				<xs:sequence>
					<xs:element ref="SUITABILITY" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element ref="ECONOMIC_CRITERIA_DOC"/>
						<xs:sequence>
							<xs:element ref="ECONOMIC_FINANCIAL_INFO" minOccurs="0"/>
							<xs:element ref="ECONOMIC_FINANCIAL_MIN_LEVEL" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
					<xs:choice minOccurs="0">
						<xs:element ref="TECHNICAL_CRITERIA_DOC"/>
						<xs:sequence>
							<xs:element ref="TECHNICAL_PROFESSIONAL_INFO" minOccurs="0"/>
							<xs:element ref="TECHNICAL_PROFESSIONAL_MIN_LEVEL" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="RESTRICTED_SHELTERED_WORKSHOP" minOccurs="0"/>
					<xs:element ref="RESTRICTED_SHELTERED_PROGRAM" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="PARTICULAR_PROFESSION"/>
						<xs:element ref="REFERENCE_TO_LAW" minOccurs="0"/>
					</xs:sequence>
					<xs:element ref="PERFORMANCE_CONDITIONS" minOccurs="0"/>
					<xs:element ref="PERFORMANCE_STAFF_QUALIFICATION" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="object_devco">
		<xs:sequence>
			<xs:element ref="TITLE" minOccurs="0"/>
			<xs:element ref="LOT_NO" minOccurs="0"/>
			<xs:element ref="CPV_ADDITIONAL" minOccurs="0" maxOccurs="100"/>
			<xs:element ref="n2016:NUTS" maxOccurs="20"/>
			<xs:element ref="MAIN_SITE" minOccurs="0"/>
			<xs:element ref="SHORT_DESCR"/>
			<xs:element name="AC" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="AC_COST" type="empty"/>
						<xs:element name="AC_PRICE" type="empty"/>
						<xs:element ref="AC_PROCUREMENT_DOC"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="VAL_OBJECT" minOccurs="0"/>
			<xs:group ref="time_frame" minOccurs="0"/>
			<xs:element ref="JUSTIFICATION" minOccurs="0"/>
			<xs:group ref="renewal" minOccurs="0"/>
			<xs:group ref="limit_candidate" minOccurs="0"/>
			<xs:group ref="variants" minOccurs="0"/>
			<xs:group ref="options" minOccurs="0"/>
			<xs:element ref="ECATALOGUE_REQUIRED" minOccurs="0"/>
			<xs:group ref="eu_union_funds" minOccurs="0"/>
			<xs:element ref="INFO_ADD" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ITEM" type="nb_lot" use="required"/>
	</xs:complexType>
	<xs:complexType name="lot_division_devco">
		<xs:complexContent>
			<xs:extension base="lot_numbers"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="object_contract_devco">
		<xs:annotation>
			<xs:documentation>Section II: OBJECT OF THE CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TITLE"/>
			<xs:element ref="REFERENCE_NUMBER" minOccurs="0"/>
			<xs:element ref="CPV_MAIN"/>
			<xs:element ref="TYPE_CONTRACT"/>
			<xs:element ref="SHORT_DESCR" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="VAL_ESTIMATED_TOTAL"/>
				<xs:element ref="VAL_TOTAL"/>
				<xs:element ref="VAL_RANGE_TOTAL"/>
			</xs:choice>
			<xs:choice>
				<xs:sequence>
					<xs:element name="LOT_DIVISION" type="lot_division_devco"/>
					<xs:element name="OBJECT_DESCR" type="object_devco" minOccurs="1" maxOccurs="10000"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="NO_LOT_DIVISION" minOccurs="0"/>
					<xs:element name="OBJECT_DESCR" type="object_devco"/>
				</xs:sequence>
			</xs:choice>
			<xs:element ref="DATE_PUBLICATION_NOTICE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ITEM" type="nb_object_contract" use="required"/>
	</xs:complexType>
	<xs:complexType name="body_devco">
		<xs:annotation>
			<xs:documentation>Section I: CONTRACTING AUTHORITY</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ADDRESS_CONTRACTING_BODY"/>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="ADDRESS_CONTRACTING_BODY_ADDITIONAL" type="contact_contracting_body" maxOccurs="500"/>
					<xs:element ref="JOINT_PROCUREMENT_INVOLVED"/>
					<xs:element ref="PROCUREMENT_LAW" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="NO_JOINT_PROCUREMENT_INVOLVED" type="empty"/>
			</xs:choice>
			<xs:element ref="CENTRAL_PURCHASING" minOccurs="0"/>
			<xs:group ref="document_url_man" minOccurs="0"/>
			<xs:group ref="information" minOccurs="0"/>
			<xs:group ref="tenders_request" minOccurs="0"/>
			<xs:element ref="URL_TOOL" minOccurs="0"/>
			<xs:group ref="authority" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="notice_devco">
		<xs:attribute name="TYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PRI_ONLY"/>
					<xs:enumeration value="PRI_CALL_COMPETITION"/>
					<xs:enumeration value="PRI_REDUCING_TIME_LIMITS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="legal_basis_devco">
		<xs:annotation>
			<xs:documentation>Possible values: 32015R0323, 32012R0966.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="VALUE" use="required">
			<xs:simpleType>
				<xs:restriction base="legal_basis"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DEVCO">
		<xs:annotation>
			<xs:documentation>ROOT element DEVCO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element name="LEGAL_BASIS" type="legal_basis_devco" maxOccurs="unbounded"/>
						<xs:element ref="LEGAL_BASIS_OTHER" minOccurs="0"/>
					</xs:sequence>
					<xs:element ref="LEGAL_BASIS_OTHER"/>
				</xs:choice>
				<xs:element name="NOTICE" type="notice_devco" minOccurs="0"/>
				<xs:element name="CONTRACTING_BODY" type="body_devco"/>
				<xs:element name="OBJECT_CONTRACT" type="object_contract_devco" maxOccurs="100"/>
				<xs:element name="LEFTI" type="lefti_devco" minOccurs="0"/>
				<xs:element name="PROCEDURE" type="procedure_devco" minOccurs="0"/>
				<xs:element name="AWARD_CONTRACT" type="award_contract_devco" minOccurs="0" maxOccurs="10000"/>
				<xs:element name="COMPLEMENTARY_INFO" type="ci_devco"/>
				<xs:element name="MODIFICATIONS_CONTRACT" type="modifications_devco" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="LG" type="t_ce_language_list" use="required"/>
			<xs:attribute name="CATEGORY" type="original_translation" use="required"/>
			<xs:attribute name="FORM" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="D01"/>
						<xs:enumeration value="D02"/>
						<xs:enumeration value="D03"/>
						<xs:enumeration value="D20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
